
<form  action="/pirates" method="post">
  <p>Pirate Name: <input type="text" name="pirate[name]" id="pirate[name]"></p>
  <p>Pirate Weight: <input type="text" name="pirate[weight]" id="pirate[weight]"></p>
  <p>Pirace Height: <input type="text" name="pirate[height]" id="pirate[height]"></p>
  <p>Ship Name:<input type="text" name="pirate[ships][][name]" id="ship_name_1"></p>
  <p> Ship Type:<input type="text" name="pirate[ships][][type]" id="ship_type_1"></p>
  <p>Ship Booty:<input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></p>
  <p>Ship Name:<input type="text" name="pirate[ships][][name]" id="ship_name_2"></p>
  <p> Ship Type:<input type="text" name="pirate[ships][][type]" id="ship_type_2"></p>
  <p>Ship Booty:<input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></p>
  <input type="submit" value="Submit">
</form>
