<h1>Make your form here</h1>

<form action="/pirates" method="post">
  Pirate Name: <input type="text" name="pirate[name]" ><br>
  Pirate Weight:<input type="text" name="pirate[weight]" ><br>
  Pirate Height: <input type="text" name="pirate[height]" ><br>

  Ship_1 Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]" ><br>
  Ship_1 Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]" ><br>
  Ship_1 Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" ><br>

  Ship_2 Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]" ><br>
  Ship_2 Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]" ><br>
  Ship_2 Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" ><br>
  <input type="submit" name="Submit" value="Submit"><br>
</form>
